{{!-- Simple text --}}
<h1>{{ text }}</h1>
<h2>Person</h2>
{{!-- Object --}}
<p>Name: {{ object.name }}, age: {{ object.age }} </p>
<p>Be <b>bold</b> in stating your key points. Put them in a list: </p>
{{!-- Array --}}
<ul>
  {{#each array as |item|}}
    <li>{{item}}</li>
  {{/each}}
</ul>

{{!-- Objects, key is number --}}
<ul>
  {{#each objects as | object key |}}
  <li>{{key}} -- {{object.status}}</li>
  {{/each}}
</ul>

{{!-- Array with object--}}
<ul>
  {{#each arrayObjects as | object key |}}
  <li>{{object.a}} -- {{object.b}}</li>
  {{/each}}
</ul>

{{!-- Tag HTML --}}
<p>{{{ tag }}}</p>

<div id="block-content"></div>